// skils.module.scss

@import '../../styles/variaveis.scss';

.principal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: space-around; /* Alinha os cards com espaçamento uniforme */
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    max-width: 900px; /* Define a largura máxima do container */
  
   
    .skillCard {
      flex-basis: calc(33.33% - 40px); /* Calcula a largura de cada card (33.33% com gap de 20px) */
      max-width: calc(33.33% - 40px); /* Define a largura máxima de cada card */
  
    }
  }
  

.container__h1 {
  font-family: $fonte;
  color: $cor-azul;
}

.skillCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: $cor-azul;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  .icon {
    font-size: 48px;
    color: $cor-background;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: slideRightAnimation 0.5s ease forwards; /* Aplica a animação de entrada */
  }

  .skillText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $fonte;
    font-size: 16px;
    color: $cor-background;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover .icon {
    opacity: 0;
  }

  &:hover .skillText {
    opacity: 1;
  }
}

// Animação para aparecer da direita para a esquerda e de cima para baixo
@keyframes slideRightAnimation {
  0% {
    transform: translateX(100%) translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .principal {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 950px) {
  .principal {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}