// Importando variáveis de estilos
@import '../../styles/variaveis.scss';

// Estilos para a classe .container
.container {
    height: 100vh;
}

// Estilos para a classe .container__escrita
.container__escrita {
    font-family: $fonte;
    font-weight: 600;
    color: $cor-azul;
    padding: 10%;
    font-size: 3rem;
    overflow: hidden; /* Esconde o overflow do texto */
    white-space: nowrap; /* Impede a quebra de linha no texto principal */
}

// Estilos para a classe .texto_animado_span
.texto_animado_span {
    display: block;
    color: $cor-azul;
    font-size: 5.5rem; // Corrigido para incluir unidade de medida (ex: rem)
}

// Animação de digitação para a classe .texto_animado h1
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.texto_animado h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40) forwards;
}

// Estilos para a classe .buttons
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 1%;
}

// Estilos para a classe .buttonCurriculo
.buttonCurriculo {
    opacity: 0; /* Inicialmente oculto */
    background-color: $cor-background;
    color: $cor-roxa;
    border: 1px solid $cor-roxa;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 0.4em; // Corrigido para incluir unidade de medida (ex: em)
    cursor: pointer;
    transition: opacity 1s ease-in-out;
}

.buttonCurriculo:hover {
    background-color: $cor-roxa;
    color: $cor-background;
    border: 1px solid $cor-background;
    transition: 1s;
}

// Mostrar o botão com transição usando a classe .showButton
.showButton {
    opacity: 1;
}

// Estilos para telas menores, como celulares (media query)
@media only screen and (max-width: 600px) {
    .container {
        height: 100vh; /* Altura automática para ajuste ao conteúdo */
    }

    .container__escrita {
        font-size: 0.9rem; /* Reduzir o tamanho da fonte para dispositivos menores */
        margin-top: 250px;
        width: 70%;
    }
    
    .texto_animado_span {
        font-size: 1.6rem;
    }

    .buttonCurriculo {
        font-size: 1rem;
    }

    .btnzap {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        height: 100vh; /* Altura automática para ajuste ao conteúdo */
    }

    .container__escrita {
        font-size: 1.5rem; /* Reduzir o tamanho da fonte para dispositivos menores */
        margin-top: 250px;
        width: 70%;
    }
    
    .texto_animado_span {
        font-size: 2.5rem;
    }

    .buttonCurriculo {
        font-size: 1.2rem;
    }

    .btnzap {
        font-size: 2.3rem;
    }
}

// Estilos para a classe .btnzap
.btnzap {
    color: $cor-azul;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 1s ease-in-out;

    &.showButton {
        opacity: 1; /* Torna visível quando a classe showButton é aplicada */
    }
}
